* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
   
   
   
   
   ul {
        background-color:red;
        color: white;
    }

    ol {
        background-color:rgb(99, 212, 194);
        color: black;
    }

li {
    font-size: 60px;
    gap: 30px;
}


